In [1]:
import pandas as pd

In [2]:
datos = pd.read_parquet('./catalogo_productos.parquet')

In [4]:
datos.head()

        sku  familia  marca                  descripcion
0     10328  EXTERNO  BAYER       MALAT 1000CE 15X950 ML
1  10481571  EXTERNO  BAYER           HARN MX 45X12X1 LT
2  10481573  EXTERNO  BAYER              SIN DESCRIPCION
3  10595873  EXTERNO  BAYER  FAENA CLASICO MX 45X12X1 LT
4  10595875  EXTERNO  BAYER  FAENA CLASICO MX 30X2X10 LT